/*
 * AC Fry - JavaScript Framework v1.0
 *
 * Theme CSS definition.
 *
 * (c)2006 Petr Krontorad, April-Child.com
 * Portions of code based on WHOA Bender Framework, (c)2002-2005 Petr Krontorad, WHOA Group.
 * http://www.april-child.com. All rights reserved.
 * See the license/license.txt for additional details regarding the license.
 * Special thanks to Matt Groening and David X. Cohen for all the robots.
 *
 * Theme.name: apple
 */



.insertion-point
{	
	background-image:url(../../../i/theme/apple/insertion-point.rbg.gif);
	background-repeat:repeat-x;
}
.insertion-point .head
{
	background-image:url(../../../i/theme/apple/insertion-point.lbg.gif);
	background-repeat:no-repeat;
	width:8px;
	height:7px;
}

/*	____________________________________________________________________________________
	
	Browser 
	________________________________________________________
*/


.acw-browser .browser-inner .loading
{
	background-image:url(../../../i/theme/apple/loading.gif);
}
.acw-browser .browser-inner .error
{
	font-size:10px;
	color:#888;
	background-position:4px 4px;
	background-image:url(../../../i/theme/apple/warning.gif);
	padding-left:24px;
	padding-top:8px;
	padding-right:4px;
}
.acw-browser-resizer
{
	background-image:url(../../../i/theme/apple/browser.resizer.gif);
}
.acw-browser .browser-inner table tr.drop-over td
{
	background-image:url(../../../i/theme/apple/browser.drop-over.lbg.gif);
	color:#fff;
	background-repeat:no-repeat;
}
.acw-browser .browser-inner table tr.drop-over td.first
{
	background:#fff;
}
.acw-browser .browser-inner table tr.drop-over td.last
{
	background-image:url(../../../i/theme/apple/browser.drop-over.rbg.gif);
	background-color:#fff;
	background-repeat:no-repeat;
}
.acw-browser .browser-inner table tr td.label input
{
	padding:0;
	border:0;
	margin:0;
}


/*	____________________________________________________________________________________
	
	DropDownList 
	________________________________________________________
*/

.acw-dropdownlist
{
	background-image:url(../../../i/theme/apple/dropdownlist.lbg.gif);
}
.acw-dropdownlist .value
{
	background-image:url(../../../i/theme/apple/dropdownlist.bg.gif);
}
.acw-dropdownlist .control
{
	background-image:url(../../../i/theme/apple/dropdownlist.rbg.gif);
}


/*	____________________________________________________________________________________
	
	FileChooser
	________________________________________________________
*/

.acw-filechooser.top-pane
{
	background-image:url(../../../i/theme/apple/bg-toolbar.gif);
	background-repeat:repeat;
}

.acw-filechooser.top-pane .left-arrow
{
	background-image:url(../../../i/theme/apple/filechooser-arr.left.gif);
}
.acw-filechooser.top-pane .left-arrow.active
{
	background-image:url(../../../i/theme/apple/filechooser-arr.left-active.gif);
}
.acw-filechooser.top-pane .right-arrow
{
	background-image:url(../../../i/theme/apple/filechooser-arr.right.gif);
}
.acw-filechooser.top-pane .right-arrow.active
{
	background-image:url(../../../i/theme/apple/filechooser-arr.right-active.gif);
}
.acw-filechooser.top-pane .switch.browser
{
	background-image:url(../../../i/theme/apple/filechooser-switch-browser.gif);
}
.acw-filechooser.top-pane .switch.outlineview
{
	background-image:url(../../../i/theme/apple/filechooser-switch-outlineview.gif);
}

.acw-filechooser.mid-pane .left-pane
{
	width:135px;
	border-right:6px solid #ddd;
	background:#f0f0f0;
}

.acw-filechooser.mid-pane .right-pane
{
}

.acw-filechooser.bottom-pane
{
	background-image:url(../../../i/theme/apple/bg-toolbar.gif);
	background-repeat:repeat;
	border-top:1px solid #ddd;
	height:34px;
}
.acw-filechooser-dnd-cursor
{
	padding-left:22px;
	color:#888;
	cursor:default;
}

.acw-tree.acw-filechooser .tree-inner
{
	position:absolute;
	overflow:auto;
	background:#f0f0f0;
}
.acw-tree.acw-filechooser .elem-container
{
	margin-left:0;
	position:relative;
}
.acw-tree.acw-filechooser .header
{
	_margin-left:0px;
	border:1px solid #f0f0f0;
	padding-left:0px;
	color:#000;
	cursor:default;
	background-color:#f0f0f0;
	height:20px;
}
.acw-tree.acw-filechooser .header span
{
	font-size:12px;
	display:block;
	width:auto;
	padding-top:2px;
	padding-left:23px;	
	background-image:url(../../../i/theme/apple/filechooser-volume-inactive.gif);
	background-position:2px 0px;
	background-repeat:no-repeat;
	height:24px;
}
.acw-tree.acw-filechooser .header.active, .acw-tree.acw-filechooser .header.midactive
{
	background-image:url(../../../i/theme/apple/filechooser-volume-active.bg.gif);
	background-repeat:repeat-x;
	color:#fff;
}
.acw-tree.acw-filechooser .header.active span, .acw-tree.acw-filechooser .header.midactive span
{
	background-image:url(../../../i/theme/apple/filechooser-volume-active.gif);
}
.acw-tree.acw-filechooser .header-active-decor, .acw-tree.acw-filechooser .header-midactive-decor
{
	display:none;
}

/*	____________________________________________________________________________________
	
	MapGraph
	________________________________________________________
*/

.acw-mapgraph .error
{
	background-image:url(../../../i/theme/apple/warning.gif);
	background-repeat:no-repeat;
	background-position:2px 2px;
	padding-left:22px;
	min-height:18px;
	color:#bbb;
	font-size:10px;
	border:1px solid #ddd;
	width:auto;
	margin:4px;
	text-align:left;
}

.acw-mapgraph-relation-end-up
{
	background-image:url(../../../i/theme/apple/mg-arrow-up.gif);
}

.acw-mapgraph-relation-end-down
{
	background-image:url(../../../i/theme/apple/mg-arrow-down.gif);
}
.acw-mapgraph-graph-element .header
{
	height:13px;
	background-image:url(../../../i/theme/apple/mg-title-bg.gif);
}
.acw-mapgraph-graph-element .header .inner
{
	color:#444;
	font-size:10px;
	font-weight:normal;
}
.acw-mapgraph-graph-element .body
{
}

/*	____________________________________________________________________________________
	
	Menu 
	________________________________________________________
*/

.acw-menu.menu
{
	border-color:#fff;
}

.acw-menu.menu td.separator
{
	background-image:url(../../../i/theme/apple/menu-separator.gif);
}

.acw-menu .shadow-bottom
{
	background-image:url(../../../i/theme/apple/menu-shadow-bottom.bg.png);
}
.acw-menu .shadow-bottom-l
{
	background-image:url(../../../i/theme/apple/menu-shadow-bottom.lbg.png);
}
.acw-menu .shadow-bottom-r
{
	background-image:url(../../../i/theme/apple/menu-shadow-bottom.rbg.png);
}
.acw-menu .shadow-right
{
	background-image:url(../../../i/theme/apple/menu-shadow-right.bg.png);
}
.acw-menu .shadow-right-l
{
	background-image:url(../../../i/theme/apple/menu-shadow-right.lbg.png);
}
.acw-menu .shadow-right-r
{
	background-image:url(../../../i/theme/apple/menu-shadow-right.rbg.png);
}
.acw-menu.menu td .menu-inner td.key.collection
{
	background-image:url(../../../i/theme/apple/menu.arrow.inactive.gif);
}
.acw-menu.menu td.selected .menu-inner td.key.collection
{
	background-image:url(../../../i/theme/apple/menu.arrow.active.gif);
}
.acw-menu.menu td .menu-inner td.key
{
	width:60px;
}
.acw-menu.menu td .menu-inner td.key div.shortcut
{
	float:right;
	color:#000;
	font-size:13px;
	font-weight:bold;
	color:#222;
	padding:1px 8px 1px 2px;
}
.acw-menu.menu td .menu-inner td.key div.shortcut span.key-symbol
{
	display:block;
	float:left;
	height:12px;
	width:15px;
	background-repeat:no-repeat;
	background-color:transparent;
	padding:0;
	margin-top:2px;
}
.acw-menu.menu td .menu-inner td.key div.shortcut span.key-symbol.ctrl
{
	background-image:url(../../../i/theme/apple/menu-symbol-ctrl.png);	
}
.acw-menu.menu td .menu-inner td.key div.shortcut span.key-symbol.alt
{
	background-image:url(../../../i/theme/apple/menu-symbol-alt.png);	
}
.acw-menu.menu td .menu-inner td.key div.shortcut span.key-symbol.shift
{
	background-image:url(../../../i/theme/apple/menu-symbol-shift.png);	
}
.acw-menu.menu td .menu-inner td.key div.shortcut span.key-symbol.meta
{
	background-image:url(../../../i/theme/apple/menu-symbol-meta.png);	
}



/*	____________________________________________________________________________________
	
	SearchBox 
	________________________________________________________
*/

.acw-searchbox .recent
{
	width:24px;
	background-image:url(../../../i/theme/apple/searchbox.lbg.gif);
}
.acw-searchbox .value
{
	background-image:url(../../../i/theme/apple/searchbox.bg.gif);
}
.acw-searchbox .clear
{
	background-image:url(../../../i/theme/apple/searchbox.rbg.gif);
}


/*	____________________________________________________________________________________
	
	TableView & OutlineView
	________________________________________________________
*/

.acw-tableview .corner, .acw-outlineview .corner
{
	border-top-color:#9E9E9E;
	border-bottom-color:#9E9E9E;	
	background-image:url(../../../i/theme/apple/outlineview-header-bg.gif);
}

.acw-tableview tr.even td, .acw-outlineview tr.even td
{
	background:#f0f0f0;
}

.acw-tableview tr.even td, .acw-outlineview tr.even td
{
	border-color:#f0f0f0;
}
.acw-tableview tr.header td, .acw-outlineview tr.header td
{
	background-image:url(../../../i/theme/apple/tableview-header-bg.gif);	
}
.acw-tableview tr.header td.selected, .acw-outlineview tr.header td.selected
{
	border-top-color:#004EC1;
	border-bottom-color:#6693C0;
	background-image:url(../../../i/theme/apple/tableview-header-selected-bg.gif);
}
.acw-tableview tr.header td.selected .sort-asc, .acw-outlineview tr.header td.selected .sort-asc
{
	float:right;
	width:15px;
	height:15px;
	background-image:url(../../../i/theme/apple/tableview-order-arrow-asc.gif);
}
.acw-tableview tr.header td.selected .sort-desc, .acw-outlineview tr.header td.selected .sort-desc
{
	float:right;
	width:15px;
	height:15px;
	background-image:url(../../../i/theme/apple/tableview-order-arrow-desc.gif);
}

.acw-tableview tr.error td, .acw-outlineview tr.error td
{
	background-color:#ffa;
	color:#663;
	font-size:10px;
	border-left-color:#ffa;
}
.acw-tableview tr.error td .loading-error, .acw-outlineview tr.error td .loading-error
{
	background-image:url(../../../i/theme/apple/warning.gif);
	background-repeat:no-repeat;
	background-position:2px 2px;
	padding-left:22px;
	min-height:18px;
}
.acw-tableview tr td.info blockquote, .acw-outlineview tr td.info blockquote
{
	display:block;
	width:17px;
	height:15px;
	background-image:url(../../../i/theme/apple/tableview-info.inactive.gif);
	background-repeat:no-repeat;
	float:right;
}
.acw-tableview tr td.info blockquote.expanded, .acw-outlineview tr td.info blockquote.expanded
{
	background-image:url(../../../i/theme/apple/tableview-info.expanded.inactive.gif);	
}
.acw-tableview tr.active td.info blockquote, .acw-outlineview tr.active td.info blockquote,  .acw-outlineview tr.drop-over td.info blockquote
{
	background-image:url(../../../i/theme/apple/tableview-info.active.gif);
}
.acw-tableview tr.active td.info blockquote.expanded, .acw-outlineview tr.active td.info blockquote.expanded
{
	background-image:url(../../../i/theme/apple/tableview-info.expanded.active.gif);
}
.acw-tableview tr.midactive td.info blockquote, .acw-outlineview tr.midactive td.info blockquote, .acw-outlineview tr.drop-over td.info blockquote.expanded
{
	background-image:url(../../../i/theme/apple/tableview-info.midactive.gif);
}
.acw-tableview tr.midactive td.info blockquote.expanded, .acw-outlineview tr.midactive td.info blockquote.expanded
{
	background-image:url(../../../i/theme/apple/tableview-info.expanded.midactive.gif);	
}
.acw-tableview tr td.invisible.info blockquote, .acw-outlineview tr td.invisible.info blockquote
{
	display:none;
}
.acw-tableview tr td blockquote input, .acw-outlineview tr td blockquote input
{
	height:12px;
	padding:1px 3px 1px 1px;
	color:#000;
	border:0;
	margin:0;
	margin-left:5px;
	background:#fff;
	font-size:11px;
}

/*	____________________________________________________________________________________
	
	OutlineView
	________________________________________________________
*/


.acw-outlineview tr td .arrow-right
{
	background-image:url(../../../i/theme/apple/arrow-right.gif);	
}
.acw-outlineview tr td .arrow-down
{
	background-image:url(../../../i/theme/apple/arrow-down.gif);	
}
.acw-outlineview tr.active td .arrow-right
{
	background-image:url(../../../i/theme/apple/arrow-right.active.gif);	
}
.acw-outlineview tr.active td .arrow-down
{
	background-image:url(../../../i/theme/apple/arrow-down.active.gif);	
}
.acw-outlineview tr.midactive td .arrow-right, .acw-outlineview tr.drop-over td .arrow-right
{
	background-image:url(../../../i/theme/apple/arrow-right.midactive.gif);	
}
.acw-outlineview tr.midactive td .arrow-down, .acw-outlineview tr.drop-over td .arrow-down
{
	background-image:url(../../../i/theme/apple/arrow-down.midactive.gif);	
}

/*	____________________________________________________________________________________
	
	TabPane
	________________________________________________________
*/

.acw-tabpane .titles
{
	background:#f0f0f0;
}

.acw-tabpane .titles .inner td .button-close
{
	background-color:transparent;
	background-image:url(../../../i/theme/apple/tabpane.button.close.gif);
}

.acw-tabpane .titles .active 
{
	background-image:url(../../../i/theme/apple/tabpane.active.title.top.bg.gif);
	color:#000;
}

.acw-tabpane .titles .inactive
{
	background-image:url(../../../i/theme/apple/tabpane.inactive.title.top.bg.gif);
	color:#888;
}

.acw-tabpane .titles.bottom .active 
{
	background-image:url(../../../i/theme/apple/tabpane.active.title.bottom.bg.gif);
}

.acw-tabpane .titles.bottom .inactive
{
	background-image:url(../../../i/theme/apple/tabpane.inactive.title.bottom.bg.gif);
}

.acw-tabpane .more
{
	background-image:url(../../../i/theme/apple/tabpane.more.gif);
	background-repeat:no-repeat;
}
/*	____________________________________________________________________________________
	
	Tree 
	________________________________________________________
*/

.acw-tree .error
{
	font-size:10px;
	color:#888;
	background-position:4px 4px;
	background-image:url(../../../i/theme/apple/warning.gif);
	background-repeat:no-repeat;
	padding-left:24px;
	padding-top:8px;
	padding-right:4px;
}

.acw-tree-dnd-cursor
{
	padding-left:22px;
}

/*	____________________________________________________________________________________
	
	Window
	________________________________________________________
*/

.acw-window-modal-bg
{
	background:#000;
	opacity:0.4;
	_filter:alpha(opacity=40);
}

.acw-window .window-title
{
	width:auto;
	padding:0;
	height:26px;
}
.acw-window .window-title table
{
	height:26px;
}
.acw-window .window-title td.lbg
{
	width:9px;
	background-image:url(../../../i/theme/apple/window-title.lbg.gif);
	background-repeat:no-repeat;
}
.acw-window .window-title.modal td.lbg
{
	width:9px;
	background-image:url(../../../i/theme/apple/window-title.lbg.modal.gif);
	background-repeat:no-repeat;
}
.acw-window .window-title td.bg
{
	background-image:url(../../../i/theme/apple/window-title.bg.gif);
	padding-top:2px;
}
.acw-window .window-title td.rbg
{
	width:9px;
	background-image:url(../../../i/theme/apple/window-title.rbg.gif);
	background-repeat:no-repeat;
}
.acw-window .window-title.modal td.rbg
{
	width:9px;
	background-image:url(../../../i/theme/apple/window-title.rbg.modal.gif);
	background-repeat:no-repeat;
}
.acw-window .window-title .window-buttons
{
	width:60px;
}
.acw-window .window-title .window-buttons table
{
	width:60px;
	height:15px;
}
.acw-window .window-title .window-buttons td
{
	background-image:url(../../../i/theme/void.gif);
	background-repeat:no-repeat;
	width:14px;
	height:15px;
	padding-left:5px;
}
.acw-window .window-title .window-buttons td, .acw-window .window-title.active .window-buttons td
{
	width:14px;
	height:15px;
	background-image:url(../../../i/theme/apple/window-title.inactiveb.gif);	
}
.acw-window .window-title.active .window-buttons td.button-close
{
	background-image:url(../../../i/theme/apple/window-title.closeb.gif);
}
.acw-window .window-title.active .window-buttons.active td.button-close, .acw-window .window-title .window-buttons.active td.button-close
{
	background-image:url(../../../i/theme/apple/window-title.closeba.gif);	
}
.acw-window .window-title.active .window-buttons td.button-minimize
{
	background-image:url(../../../i/theme/apple/window-title.minimizeb.gif);
}
.acw-window .window-title.active .window-buttons.active td.button-minimize, .acw-window .window-title .window-buttons.active td.button-minimize
{
	background-image:url(../../../i/theme/apple/window-title.minimizeba.gif);
}
.acw-window .window-title.active .window-buttons td.button-maximize
{
	background-image:url(../../../i/theme/apple/window-title.maximizeb.gif);
}
.acw-window .window-title.active .window-buttons.active td.button-maximize, .acw-window .window-title .window-buttons.active td.button-maximize
{
	background-image:url(../../../i/theme/apple/window-title.maximizeba.gif);
}
.acw-window .window-title .window-label
{
	text-align:center;
	left:65px;
	font-size:13px;
	color:#888;
	cursor:default;
}
.acw-window .window-title.active .window-label
{
	color:#000;
}
.acw-window .window-content
{
	background:#fff;
}
.acw-window .window-content-inner
{
	width:auto;
	border:1px solid #969696;
	border-top:0;
}
.acw-window .window-status-inner
{
	height:16px;
}
.acw-window .window-status-inner
{
	width:auto;
	border:1px solid #969696;
	background-image:url(../../../i/theme/apple/window-status.bg.gif);
	border-top:0;
	height:14px;
	padding:1px 4px 0px 4px;
	font-size:10px;
	cursor:default;
}
.acw-window .resizer, .acw-window-resizer
{
	background-image:url(../../../i/theme/apple/window-resizer.gif);
}

/* Snippets */
table.button-small tr.button-inner td, table.button-big tr.button-inner td
{
	padding:0;
	margin:0;
	border:0;
	background-repeat:no-repeat;
}
table.button-small tr.button-inner td.l
{
	background-image:url(../../../i/theme/apple/button-small-bgl.gif);
	height:17px;
	width:8px;
}
table.button-small tr.button-inner td.c
{
	background-image:url(../../../i/theme/apple/button-small-bgc.gif);
	background-repeat:repeat-x;
}
table.button-small tr.button-inner td.c a
{
	text-align:center;
	display:block;
	padding:2px 12px 2px 12px;
	font-size:11px;
	text-decoration:none;
	color:#666;
	font-weight:normal;
	cursor:default;
}
table.button-small tr.button-inner td.c a:hover
{
	color:#000;
}
table.button-small tr.button-inner td.r
{
	background-image:url(../../../i/theme/apple/button-small-bgr.gif);
	width:8px;
	height:17px;
}

table.button-big tr.button-inner td.l
{
	background-image:url(../../../i/theme/apple/button-big-bgl.gif);
	height:21px;
	width:9px;
}
table.button-big tr.button-inner td.c
{
	background-image:url(../../../i/theme/apple/button-big-bgc.gif);
	background-repeat:repeat-x;	
}
table.button-big tr.button-inner td.c a
{
	text-align:center;
	display:block;
	padding:2px 12px 2px 12px;
	font-size:12px;
	text-decoration:none;
	color:#444;
	font-weight:normal;
	cursor:default;
}
table.button-big tr.button-inner td.c a:hover
{
	color:#000;
}
table.button-big tr.button-inner td.r
{
	background-image:url(../../../i/theme/apple/button-big-bgr.gif);
	width:9px;
	height:21px;
}
